.wrapper{
    width: 100%;
    margin: auto;
}
.imgbox1{
    display: flex;
    justify-content: space-between;
}
.imgbox1>img{
    width: 33%;
    height: 33%;
}
.imgbox2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}