.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  padding: 0 20px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-top: solid rgb(75, 72, 72);
}

.navbar-logo img {
  height: 130px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu-item {
  position: relative;
  padding: 0px 20px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;

}

.navbar-menu-item:hover,
.navbar-menu-item.active {
  background-color: #f1f1f1;
}

.navbar-submenu {
  position: absolute;
  top: 100%;
  left: 0%;
  z-index: 1;
  width: 200px;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

.navbar-submenu-item {
  padding: 5px 20px;
  cursor: pointer;
}

.navbar-submenu-item:hover {
  background-color: #f1f1f1;
}

li,
ul {
  font-size: 13px;
}

.icons {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.si{
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}